
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

npm-debug.log
yarn-error.log
logs
*.log
.env
.env.bak*
.DS_STORE
*~
*.swp
.nfs*
.Trash-*
.fuse_hidden*

.phpunit.result.cache
.DS_Store
**/*.log


